.page {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

.chatList {
    // min-height: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.messagesContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px;

    .ownMessage {
        padding: 16px;
        align-self: flex-end;
        color: rgba(60,51,176,1);
        background: #fff;
        border-radius: 15px 2px 15px 15px;
        box-shadow: 2px 2px 20px -2px rgba(60,51,176,0.2);
    }

    .otherMessage {
        padding: 16px;
        align-self: flex-start;
        background: #5850c0;
        color: #fff;
        border-radius: 2 px 15px 15px 15px;
        box-shadow: 2px 2px 20px rgba(60,51,176,0.2), inset -10px -10px 55px rgba(255,255,255,0.1);
    }
}

.messageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    
    .messageInput {
        width: 100%;
        padding: 16px;
        border: 1px solid rgba(60,51,176,0.1);
        border-radius: 16px;
        background: transparent;
        color: #5850c0;
        
        &::placeholder {
            color: #5850c0;
        }
        
        &:focus {
            outline: none;
        }
    }

    .sendButton {
        padding: 16px;
        border: none;
        background: none;
        color: #5850c0;
        cursor: pointer;
    }
}

